* {
  margin: 0;
  padding: 0;
}


html {
  color: #222;
  line-height: 1.4;
  font-size: 16;
}

h1{
  font-family: sans-serif
}

body{
  background-image: "assets/color.jpg";
  --image-path-background: url('assets/color.jpg';
}


